<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.anticrook">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- cho thu vien chup anh an -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- auto run khi khoi dong -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- nhan tin nhan -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- de theo doi sim thay doi -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- bat tat wifi -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/shield128"
        android:label="@string/app_name"
        android:roundIcon="@drawable/shield128"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.android.anticrook.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.android.anticrook.SMSSettingActivity" />
        <activity android:name="com.android.anticrook.EmailSendActivity" />
        <activity
            android:name="com.android.anticrook.MainSetting"
            android:label="@string/title_activity_main_setting" />
        <activity android:name="com.android.anticrook.AddReceivedEmail" />


        <receiver
            android:name="com.android.anticrook.SampleDeviceAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLE_REQUESTED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.anticrook.SMSReceiver">
            <intent-filter android:priority="998">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.anticrook.SimChangeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.SIM_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.anticrook.NetworkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name="com.android.anticrook.CamService" />

        <activity android:name="com.android.anticrook.AboutUs" />
    </application>

</manifest>